{% extends 'base.html' %}

{% block titulo %}
    Novo Evento
{% endblock %}

{% block body %}

    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="card p-4" style="width: 100%; max-width: 95%;">

        <h2>Criar um novo Evento</h2>
        <hr>

        <form method="POST" action="{{ url_for('create_event') }}">
            {{ form.hidden_tag() }}

            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control", placeholder="Evento...") }}

            <br>
            {{ form.data.label(class="form-label") }}
            {{ form.data(class="form-control") }}

            <br>
            {{ form.descricao.label(class="form-label") }}
            {{ form.descricao(class="form-control", placeholder="Descreva o evento...") }}

            <br>
            {{ form.submit(class="btn btn-primary") }}
        </form>

            <br>
        <a href="{{ url_for('dashboard') }}"><button type="button" class="btn btn-outline-secondary">Voltar para o Dashboard</button></a>

        </div>
    </div>

{% endblock %}